@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestModelBinder</title>
</head>
<body>
    <div>
        TestModelBinder.cshtml.<br />
        <form action="/P0020/TestSubmitModelBinder" method="post">
            ms1 = <input type="text" id="txtMS1" name="mS1" value="" /> <br />
            ms2 = <input type="text" id="txtMS2" name="mS2" value="" /> <br />
            ms3 = <input type="text" id="txtMS3" name="mS3" value="" /> <br />
            ms4 = <input type="text" id="txtMS4" name="mS4" value="" /> <br />
            ms5 = <input type="text" id="txtMS5" name="mS5" value="" /> <br />
            ms6 = <input type="text" id="txtMS6" name="mS6" value="" /> <br />
            mT0010.ms1 = <input type="text" id="mT0010.mS1" name="mT0010.mS1" value="" /> <br />
            mT0010.ms2 = <input type="text" id="mT0010.mS2" name="mT0010.mS2" value="" /> <br />
            mT0010.mi1 = <input type="text" id="mT0010.mI1" name="mT0010.mI1" value="" /> <br />
            mT0010.mi2 = <input type="text" id="mT0010.mI2" name="mT0010.mI2" value="" /> <br />
            <input type="submit" name="btnSubmit" value="SubmitCreate" />
            <input type="reset" name="btnReset" value="btnReset" />
            <input type="submit" name="btnSubmit" value="SubmitCancel" />
        </form>
        <br />
    </div>
</body>
</html>


